<div class="container">
	
<h1>Guide</h1>
<div class="panel panel-default">
  <div class="panel-body">
    Retrouvez ici toutes les fiches d'utilisation nécessaires à la compréhension de TeamPROJECT
  </div>
</div>
</div>

<div class="container">

<% if user_signed_in? %>

<div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title Basics">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          1 - Basics
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://quip.com/ZvoOAnhkOmRG " target="_blank">Se connecter</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/OVuzAHfEZ85p" target="_blank">Les vues du logiciel</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/OVuzAHfEZ85p" target="_blank">Les raccourcis clavier</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/yV9dABmYF81p" target="_blank">Les raccourcis barre d'outils</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/IRJKAo34ZrPL " target="_blank">Les outils d'édition</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/4WhAAeAIXYIm" target="_blank">Enregistrer, Effacer, Imprimer un planning</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/mz0hAdfbMcXm" target="_blank">Les menus du planning</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          2 - Organisation & Paramétrage
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/fjk7AZyaqnnq" target="_blank">Ajouter un salarié</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/blHiAIpnDgis" target="_blank">Gestion des compétences</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/FnoWAhhZEawd" target="_blank">Gestion des quotas</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/55arAb6n6xx5" target="_blank">Ajouter et Gestion des lieux</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/Uol2AWbOx3bL" target="_blank">Gestion des préférences</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/1NwTAeGorXny" target="_blank">Ajouter un métier</a>
        </li>
         </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/ZZ1qA1RqLMLL" target="_blank">Affectation: fonctions, services</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/lp5tA2l2S2cw" target="_blank">Affectation: fonctions, services</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/6mO4AjIn0azv" target="_blank">Ajouter un établissement</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/O3gUAFLqAtLY" target="_blank">Gestion des autorisations</a>
        </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          3 - Planification
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> 
            <a href="https://quip.com/i8JJA564HBjY" target="_blank">Prévu, réel, échu</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/wYEAAz8Wdc0t" target="_blank">Gestion de la tirelire</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/frQKAm0WY6Le" target="_blank">Assistant de planification (suggérer un quart)</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/IR6FAAZWbov4" target="_blank">Assistant de remplacement</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/TWCtALUcmHDZ" target="_blank">Génération automatique de planning</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/3zh5ASYyy3hd" target="_blank">Export des données au format excel et pdf</a>
          </li>
           <li class="list-group-item"> 
            <a href="https://quip.com/REayAxPN565j" target="_blank">Les heures de formation</a>
          </li>
           <li class="list-group-item"> 
            <a href="https://quip.com/ba2LAuBfarYU" target="_blank">Affectations de multiples horaires</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/HXnaAmxmnJhH" target="_blank">Affectation d'une trame ou d'un roulement</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/an4YALzvkGVu" target="_blank">Affectation d'un quart</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/YSaxA0aELuwV" target="_blank">Les heures astreintes</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/REayAxPN565j" target="_blank">Les heures de formation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            4 - Gestion Des Temps (Pointage)
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
         <ul class="list-group">
           <li class="list-group-item"> 
            <a href="https://quip.com/rXRZADqDiP9a" target="_blank">Définir les règles de pointage</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/ikvzAkivYTnd" target="_blank">Gérer une anomalie de pointage</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/hJkFA1zix7Rl" target="_blank">Pointage d'entrée / Pointage de sortie</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          5 - Paie
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/4akAAZCfK5Ox" target="_blank">Réaliser un export paie</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/stT6AIbD63wk" target="_blank">Clôturer un planning</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/8SGNAUusgJbp" target="_blank">Paramétrer une rubrique de paie</a>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          6 - Communication
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/Iu3QA5WhWAzT" target="_blank">TeamPROJECT: gérer une demande</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/aNj7AKcRuGVw" target="_blank">WebStaff: Gérer une demande</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/hgH7AcxhRYui" target="_blank">WebStaff: Gérer sa messagerie</a>
        </li>
          <li class="list-group-item"> 
          <a href="https://quip.com/d3z4ADzIl8P7" target="_blank">TeamPROJECT: Gérer sa messagerie</a>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          7 - Analyse
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/aQ7lAPcol17W" target="_blank">Rapports</a>
        </li>
        <li class="list-group-item"> 
          <a href="#" target="_blank">Compteurs</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/TYg6AIFW3swW" target="_blank">Alertes</a>
        </li>
        </ul>
      </div>
    </div>
  </div>

</div>


 
<% end %>

</div>