<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55736964-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container-fluid guide">
<div class="container guideTeamProject">
    <div class="container">
     <h2>Guide d'utilisation</h2>
    </div>
  </div>
</div>
</div>

<div class="container alerteGuide"> 
  <div class="panel panel-default">
  <div class="panel-body">
    <p class="lead">Retrouvez ici toutes les fiches d'utilisation nécessaires à la compréhension de TeamPROJECT</p> 
    <hr>
    <p>
      <strong>Naviguation:</strong> Pour revenir au menu principale depuis une fiche d'utilisation cliquez sur <kbd>Retour au menu</kbd>
    </p>

    <p>
      <strong>Internet Exploreur:</strong> Si vous utilisez le navigateur Internet Exploreur, il se peut qu'un message d'alerte s'affiche dans la fiche pratique. Ne tenez pas compte de ce message, pour résoudre ce problème, cliquez simplement sur <kbd>Utiliser malgré les risques</kbd>
      
    </p>
  </div>
</div>
</div>
<div class="container liste">

<% if user_signed_in? %>

<div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title Basics">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          1 - Basics
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://quip.com/ZvoOAnhkOmRG">Se connecter</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/OVuzAHfEZ85p">Les vues du logiciel</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/OVuzAHfEZ85p">Les raccourcis clavier</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/yV9dABmYF81p">Les raccourcis barre d'outils</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/IRJKAo34ZrPL">Les outils d'édition</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/4WhAAeAIXYIm">Enregistrer, Effacer, Imprimer un planning</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/mz0hAdfbMcXm" target="_self">Les menus du planning</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          2 - Organisation & Paramétrage
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/fjk7AZyaqnnq" >Ajouter un salarié</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/blHiAIpnDgis" >Gestion des compétences</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/FnoWAhhZEawd" >Gestion des quotas</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/55arAb6n6xx5">Ajouter et Gestion des lieux</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/Uol2AWbOx3bL" >Gestion des préférences</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/1NwTAeGorXny" >Ajouter un métier</a>
        </li>
         </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/ZZ1qA1RqLMLL" >Affectation: fonctions, services</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/lp5tA2l2S2cw" >Affectation: contrat</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/6mO4AjIn0azv" >Ajouter un établissement</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/O3gUAFLqAtLY" >Gestion des autorisations</a>
        </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          3 - Planification
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> 
            <a href="https://quip.com/i8JJA564HBjY">Prévu, réel, échu</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/wYEAAz8Wdc0t" >Gestion de la tirelire</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/frQKAm0WY6Le" >Assistant de planification (suggérer un quart)</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/IR6FAAZWbov4" >Assistant de remplacement</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/TWCtALUcmHDZ" >Génération automatique de planning</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/3zh5ASYyy3hd" >Export des données au format excel et pdf</a>
          </li>
           <li class="list-group-item"> 
            <a href="https://quip.com/REayAxPN565j" >Les heures de formation</a>
          </li>
           <li class="list-group-item"> 
            <a href="https://quip.com/ba2LAuBfarYU" >Affectations de multiples horaires</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/HXnaAmxmnJhH" >Affectation d'une trame ou d'un roulement</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/an4YALzvkGVu" >Affectation d'un quart</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/EU4XAbsqfwQX" >Changement d'affectation depuis le planning</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/YSaxA0aELuwV" >Les heures astreintes</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/REayAxPN565j" >Les heures de formation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            4 - Gestion Des Temps (Pointage)
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
         <ul class="list-group">
           <li class="list-group-item"> 
            <a href="https://quip.com/rXRZADqDiP9a" >Définir les règles de pointage</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/ikvzAkivYTnd" >Gérer une anomalie de pointage</a>
          </li>
          <li class="list-group-item"> 
            <a href="https://quip.com/hJkFA1zix7Rl" >Pointage d'entrée / Pointage de sortie</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          5 - Paie
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/4akAAZCfK5Ox" >Réaliser un export paie</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/stT6AIbD63wk" >Clôturer un planning</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/8SGNAUusgJbp" >Paramétrer une rubrique de paie</a>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          6 - Communication
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/Iu3QA5WhWAzT" >TeamPROJECT: gérer une demande</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/aNj7AKcRuGVw" >WebStaff: Gérer une demande</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/hgH7AcxhRYui" >WebStaff: Gérer sa messagerie</a>
        </li>
          <li class="list-group-item"> 
          <a href="https://quip.com/d3z4ADzIl8P7" >TeamPROJECT: Gérer sa messagerie</a>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          7 - Analyse
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
       <ul class="list-group">
         <li class="list-group-item"> 
          <a href="https://quip.com/aQ7lAPcol17W" >Rapports</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/QEqJA0fwMiCG" >Compteurs</a>
        </li>
        <li class="list-group-item"> 
          <a href="https://quip.com/TYg6AIFW3swW" >Alertes</a>
        </li>
        </ul>
      </div>
    </div>
  </div>

</div>


 
<% end %>

</div>