<div class="container landing">
  <div class="jumbotron special">
    <div class="container">
     <h1>Planification des employés</h1>
     <p>The easiest way to schedule and communicate with your hourly employees.
<br>Save tons of time and reduce absenteeism.</p>
    	
    </div>
  </div>
</div>

<div class="container-fluid second">
  <div class="container center">
   <div class="alert alert-success" role="alert">Site en construction</div>
  </h1>    
 </div>
</div>    
    