<div class="container-fluid landing">
<div class="container ">
  <div class="jumbotron special">
    <div class="container">
     <h1>Planification des employés</h1>
      <p>The easiest way to schedule and communicate with your hourly employees.
      <br>Save tons of time and reduce absenteeism.</p>
    </div>
  </div>
</div>
</div>

<div class="container-fluid one">
  <div class="container feature">
    <div class="row">
      <div class="col-md-4">
        <h3>Planification</h3>
        <img src="http://cdnaws.shiftplanning.com/layout/images/homepage/modules-01-scheduling.png" alt="..." class="img-circle">
      </div>
      <div class="col-md-4">
        <h3>Gestion des pointages</h3>
        <img src="http://cdnaws.shiftplanning.com/layout/images/homepage/modules-02-modules.png" alt="..." class="img-circle">
      </div>
      <div class="col-md-4">
        <h3>WebSTAFF</h3>
        <img src="http://cdnaws.shiftplanning.com/layout/images/homepage/modules-03-hr.png" alt="..." class="img-circle">
      </div>
    </div>
    <hr>
  </div>
</div>

   
 </div>
</div>    
    