<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55736964-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container-fluid landing">
<div class="container ">
  <div class="jumbotron special">
    <div class="container">
     <h2>Solution de Planification des Employés</h2>
      <p>La meilleure façon de planifier et de communiquer avec vos employés.
      <br>Gagner du temps et reduisez l'absentéisme.</p>
      <button type="button" class="btn btn-primary btn-lg boutton">
        <a href="mailto:contact@everytime-technologies.com">Nous contacter</a>
      </button>
    </div>
  </div>
</div>
</div>

<div class="container-fluid one">
  <div class="container feature">
    <h2> NOS SERVICES</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <img src="http://cdnaws.shiftplanning.com/layout/images/homepage/modules-01-scheduling.png" alt="..." class="img-circle">
        <h3>Planification</h3>
        <p>Passer moins de temps à construire vos plannings grâce à des outils de saisie simples à apprendre et simples à utiliser. Ne perdez plus de vue vos objectifs et suivez le travail de vos équipes en temps réel. </p>
      </div>
      <div class="col-md-4">
        <img src="http://cdnaws.shiftplanning.com/layout/images/homepage/modules-03-hr.png" alt="..." class="img-circle">
        <h3>Gestion des pointages</h3>
        <p>Suivez en toute simplicité les temps de travail de vos employés gràce à une interface dédiée, intégrée au module de planning. Automatiser les processus répétitifs de contrôle grâce aux règles de pointage.</p>
      </div>
      <div class="col-md-4">
        <img src="http://cdnaws.shiftplanning.com/layout/images/homepage/modules-03-hr.png" alt="..." class="img-circle">
        <h3>Communication</h3>
        <p>Simplifier la communication avec vos employés grâce au portail WebSTAFF. Offrez à vos employés la possibilité de consulter son planning, ses compteurs personnels ou d'effectuer une demande d’opération planning.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid two">
  <div class="container">
    <div class="row">
      <div class="col-md-7 featurette">
        <h2 class="featurette-heading">
         <span class="glyphicon glyphicon-transfer"></span> Interface Paie.<span class="text-muted"> Gagnez du temps.</span>
            </h2>
        <p class="lead">
         Vous calculez manuellement la différence entre les heures prévues et les heures réelles? Évitez les erreurs et laissez TeamPROJECT exporter vos données vers votre système de paie en quelques secondes! Nous sommes intégré avec la plupart des grands systèmes de paie. 
        </p>
      </div>
      <div class="col-md-5">
        <img src="http://nsa33.casimages.com/img/2014/09/09/140909105451625868.png" class="img-thumbnail" height="500" width="500"> 
      </div>
    </div> 
 </div>   
    