<div class="jumbotron center">
	<h1>Find The Right Skill...</h1>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p>
</div>

<div>
<h1>TeamPROJECT: Installation et déploiement</h1>

<h2>A. Une architecture centralisée</h2>

<p>TeamPROJECT répond aux besoins des établissements de toutes tailles qu’ils soient mutli-sites ou avec une organisation de groupe. La centralisation des données sur un serveur permet à l’ensemble du réseau informatique usager de teamPROJECT, de bénéficier des mêmes données et de réaliser une gestion des salariés en mode unique.</p>

<h2>B. Mode d’accès</h2>

<h3>1. Accès en local</h3>

<h4>1.1 Installation optimale</h4>

<ul>
<li><strong>BDD</strong>: Installation de La base de données TeamPROJECT sur le server local de votre établissement.</li>
<li><strong>TeamPROJECT</strong>: Pour une expérience optimisée, la solution TeamPROJECT est installée sur chaque poste utilisateur.</li>
</ul>

<figure>
<img src="http://example.com/image.jpg" alt="alt text for image">
<figcaption>alt text for image</figcaption></figure>

<h4>1.2 Installation Type 2</h4>

<figure>
<img src="http://example.com/image.jpg" alt="alt text for image">
<figcaption>alt text for image</figcaption></figure>

<h3>2. Accès à distance</h3>

<ul>
<li><strong>BDD</strong>: Installation de La base de données TeamPROJECT sur le server distant.</li>
<li><strong>TeamPROJECT</strong>: Installation de la solution TeamPROJECT sur le server distant.</li>
<li><strong>Citrix / TSE</strong> : L’utilisateur accède à TeamPROJECT par une connection Citrix/TSE.</li>
</ul>

<figure>
<img src="http://example.com/image.jpg" alt="alt text for image">
<figcaption>alt text for image</figcaption></figure>
</div>